<div id="demo" class="carousel slide latest-news-section" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
        <li data-target="#demo" data-slide-to="3"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="img-fluid" src="./../../../assets//img//home01.png" alt="Los Angeles" width="1100" height="500">
            <div class="carousel-caption">
              <h3>Los Angeles</h3>
              <p>We had such a great time in LA!</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="img-fluid" src="./../../../assets//img//home02.jpg" alt="Chicago" width="1100" height="500">
            <div class="carousel-caption">
              <h3>Chicago</h3>
              <p>Thank you, Chicago!</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="img-fluid" src="./../../../assets//img//home04.png" alt="New York" width="1100" height="500">
            <div class="carousel-caption">
              <h3>New York</h3>
              <p>We love the Big Apple!</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="img-fluid" src="./../../../assets//img//home6.jpg" alt="New York" width="1100" height="500">
            <div class="carousel-caption">
              <h3>New York</h3>
              <p>We love the Big Apple!</p>
            </div>
          </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>


<!-- Latest news section -->
<div class="latest-news-section">
  <div class="ln-title">Latest News</div>
  <div class="news-ticker">
    <div class="news-ticker-contant">
      <div class="nt-item"><span class="new">new</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </div>
      <div class="nt-item"><span class="strategy">strategy</span>Isum dolor sit amet, consectetur adipiscing elit.
      </div>
      <div class="nt-item"><span class="racing">racing</span>Isum dolor sit amet, consectetur adipiscing elit. </div>
    </div>
  </div>
</div>
<!-- Latest news section end -->


<!-- Feature section -->
<section class="feature-section spad">
		<div class="container">
      <h1 style="font-style: italic; text-align: center;"><em><strong><span style="font-family:arial,helvetica,sans-serif;">Los Mejores 10 Clanes</span></strong></em></h1>
			<div class="row">
				<div class="col-lg-3 col-md-6 p-0" *ngFor="let clanTop of clansTop10">
					<div class="card img-fluid feature-item set-bg">
              <span class="cata new">Tag: {{clanTop.tag}}</span>
            <img class="card-img-top" src="https://statsroyale.com/images/clanwars/{{clanTop.badgeId}}_magical.png" alt="Card image" style="width:350%">
						<div class="fi-content text-white">
              <h2><a href="#">{{clanTop.name}}</a></h2>
              <h4><a href="#">Puntuación: {{clanTop.clanScore}}</a></h4>
              <h4><a href="#">Ubicación: {{clanTop.location.name}}</a></h4>
							<a href="#" class="fi-comment">Cantidad de Miembros: {{clanTop.members}}</a>
						</div>
					</div>
        </div>
			</div>
		</div>
	</section>
  <!-- Feature section end -->
<!-- <app-data-table [characterClan]="clansTop10" [table]="'clans'" ></app-data-table> -->
<h1 style="font-style: italic; text-align: center;"><em><strong><span style="font-family:arial,helvetica,sans-serif;">Los Mejores 10 Lideres</span></strong></em></h1>
<app-data-table [characterClan]="clanMembersTopLeader" [table]="'clanMembers'" ></app-data-table>
<h1 style="font-style: italic; text-align: center;"><em><strong><span style="font-family:arial,helvetica,sans-serif;">Los Mejores Colideres</span></strong></em></h1>
<app-data-table [characterClan]="clanMembersTopCoLeader" [table]="'clanMembers'" ></app-data-table>

