<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="3"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./../../../assets//img//home01.png" alt="Los Angeles" width="1100" height="500">
      <div class="carousel-caption">
        <h3>Los Angeles</h3>
        <p>We had such a great time in LA!</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="./../../../assets//img//home02.jpg" alt="Chicago" width="1100" height="500">
      <div class="carousel-caption">
        <h3>Chicago</h3>
        <p>Thank you, Chicago!</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="./../../../assets//img//home04.png" alt="New York" width="1100" height="500">
      <div class="carousel-caption">
        <h3>New York</h3>
        <p>We love the Big Apple!</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="./../../../assets//img//home6.jpg" alt="New York" width="1100" height="500">
      <div class="carousel-caption">
        <h3>New York</h3>
        <p>We love the Big Apple!</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>



<!-- Latest news section -->
<div class="latest-news-section">
  <div class="ln-title">Latest News</div>
  <div class="news-ticker">
    <div class="news-ticker-contant">
      <div class="nt-item"><span class="new">new</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </div>
      <div class="nt-item"><span class="strategy">strategy</span>Isum dolor sit amet, consectetur adipiscing elit. </div>
      <div class="nt-item"><span class="racing">racing</span>Isum dolor sit amet, consectetur adipiscing elit. </div>
    </div>
  </div>
</div>
<!-- Latest news section end -->


<div class="container">
  <h2>Mejores Clanes</h2>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th>Nombre</th>
        <th>Exp</th>
        <th>Miembros</th>
        <th>Pais</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let clan of clans;let indice=index">
        <td>
            {{indice + 1 }}
        </td>
        <td>
            <img src="{{urlImgInit + clan.badgeId + urlImgFinis}}"  style="width:35px;">
        <td>{{ clan.name }}</td>
        <td>
            <img src="https://cdn.statsroyale.com/images/clan-trophies.png"  style="width:35px;">
            {{ clan.clanScore }}</td>
        <td>{{ clan.members }} / 50</td>
        <td>
            <img src="{{'https://statsroyale.com/images/flags/' + clan.location.id + '.png'}}"  style="width:35px;"
            *ngIf='!(clan.location.name==="International"||clan.location.name==="Asia")'>
              {{ clan.location.name}}
      </tr>
    </tbody>
  </table>
</div>

